* {
    box-sizing: border-box;
}
.main-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(228, 228, 228);
}
.primary-nav{
	text-align: center;
	padding: 10px 30px;
    align-self: center;
    display: block;

}
.profile-image {
    width: 100%;
}
 .project {
    padding-right: 1em;
	padding-left: 1em;
 }
 .project-img {
    border-radius: 5px;
    width: 100%;
 }
    
li {
    display: block;
    padding: 20px 15px;
}
ul, a {
    list-style-type: none;
    text-decoration: none;
    color: black;
    align-items: center;
}

body {
    font-family: 'Montserrat', sans-serif;
    color:black;
    font-weight: 300;
    margin: 0;
    text-align: center;
}
#contact{
    padding: 10px;
}

footer{
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 5px;

}
.bigger-screen {
    display: none;
}

/* media queries */ 

@media ( min-width: 768px) {
 .primary-nav, .main-header, .portfolio {
    display: flex;
    margin: 0 auto;
 }
 .main-header{
    flex-direction: column;
    align-self: center;
    align-items: center;
 }
 .portfolio {
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    max-width: 90%;
    
 }
 .project {
    flex: 50%;
    text-align: center;
 }
 #profile-info {
    display: flex;
    margin: 5%;
 }
 .to-top {
    display: none;
 }
 .bigger-screen {
    display: inline-block;
 }
}

@media (min-width: 1024px) {
.main-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
.name {
    margin-left: 10px;
}
.profile-info {
    margin: 5%;
}

.project {
    flex: 30%;
}
}
